<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearPelicula</servlet-name>
        <servlet-class>Servlet.CrearPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoPeliculas</servlet-name>
        <servlet-class>Servlet.NuevoPeliculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPelicula</servlet-name>
        <servlet-class>Servlet.EliminarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPelicula</servlet-name>
        <servlet-class>Servlet.ModificarPelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SVerImagen</servlet-name>
        <servlet-class>Servlet.SVerImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tickets</servlet-name>
        <servlet-class>Servlet.Tickets</servlet-class>
        <init-param>
            <param-name>nombre</param-name>
            <param-value>No especificado</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>insertarPelicula</servlet-name>
        <servlet-class>Servlet.insertarPelicula</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearPelicula</servlet-name>
        <url-pattern>/CrearPelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoPeliculas</servlet-name>
        <url-pattern>/crearpelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPelicula</servlet-name>
        <url-pattern>/deletePelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPelicula</servlet-name>
        <url-pattern>/updatePelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVerImagen</servlet-name>
        <url-pattern>/SVerImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tickets</servlet-name>
        <url-pattern>/tickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarPelicula</servlet-name>
        <url-pattern>/insertarPelicula</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
