/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/11/2016, 09:13:55 AM
    Author     : GERENTE COMERCIAL
*/

/* ---------- GENERAL ---------- */
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  background: #c0c0c0;
  color: #000;
  font: 100%/1.7em "Roboto", sans-serif;
  margin: 0;
}

input{
  background-image: none;
  border: none;
  font: 100%/1.5em "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container {
  left: 50%;
  position: fixed;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */
#login {
  width: 500px;
}

#login h2 {
  background: #f95252;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
  margin-bottom: 0px;
}

#login h2 span[class*="fa-"] {
  margin-right: 14px;
}

#login fieldset {
  background: #fff;
  border-radius: 0 0 20px 20px;
  padding: 20px 26px;
  /*-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5) , 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -mox-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5) , 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5) , 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
}

#login fieldset p {
  color: #777;
  margin-bottom: 14px;
}

#login fieldset p:last-child {
  margin-bottom: 0;
}

#login fieldset input {
  border-radius: 3px;
}

#login fieldset input[type="text"],
#login fieldset input[type="password"], 
#login fieldset input[type="email"] {
  background: #eee;
  color: #777;
  padding: 8px 10px;
  width: 100%;
}

#login fieldset input[type="submit"]{
  background: #33cc77;
  color: #fff;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 8px 0px;
  width: 49%;
}
.btns{
    text-align: center;
}
.btn{
    background: #bbb;
    border-radius: 3px;
  color: #fff;
  display: inline-block;
  border: none;
  font: 100%/1.5em "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 0 auto;
  padding: 8px 0px;
  width: 49%;
  text-align: center;
}

.btn:hover {
  background: #aaa;
}

a{
    padding: 0;
    margin:0;
    text-decoration: none;
}

#login fieldset input[type="submit"]:hover {
  background: #28ad63;
}
.info{
    text-align: center;
    color: #777;
}
.loading {
       background: transparent url('../img/01-progresss.gif') no-repeat center 65%;
        height: 100px;
        width: 80px;
        border-radius: 50px;
        position: fixed;
        left: 50%;
        top: 50%;
        margin: -40px 0 0 -50px;
        z-index: 2000;
        display: none;
    }
